.small-text{
    font-size: 1.5rem;
}
.shop-button {
    font-size: 1em;
    background-color: var(--secondary-color);
    color: #faf9f9; 
    border: none; 
    cursor: pointer; 
    margin-top: 220px;
    border-radius: 5px;
    font-weight: bold;
    height: 60px;
    width: 250px;
}
.shop-button:hover{
    background-color: #658f3b;
    transform: scale(1.05);
    
}

.hero__subtitle img {
    width: 2.3rem;
    height: 2.3rem;
}

.hero__content h1{
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0 2rem 0 ;
    color: var(--text-white);
}

.highlight {
    color: var(--secondary-color);
}

.hero__content {
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 2rem;
    padding-top: 3.5rem;
    position: relative;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.hero__img-box img, 
.hero__img-box video {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    object-fit: cover;
    
}

.hero__img-box { 
    padding-top: 2rem;
}
.search--bar {
    position: absolute;
    right: 280px;
    top: 120px;
    
}

/* ------------- */

.services__subtitle {
    font-size: 2.2rem;
    font-weight: 500;
    color: #ee6e6e;
    font-family: var(--subtitle-font-name);
}

.services__title {
    font-size: 2.5rem;
    font-weight: 500;

}


/*---------- Featured tours----------- */

.featured__tour-title {
    font-size: 2.3rem;
    font-weight: 500;
    color: var(--heading-color);
}


/* -------------- Experience --------------*/

.experience__content {

}
.experience__content h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
}
.experience__content p {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1rem;
}


.counter__wrapper {
    margin-top: 2.5rem;
}
.counter__box {

}

.counter__box span {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 10px 5px 10px 5px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--primary-color);
}

.counter__box h6 {
    font-size: 1.2rem;
    margin-top: 0.7rem;
    color: var(--text-color);

}

.experience__img img{
    width: 90%;
}

/* ============ GALLERY  ===========*/
.gallery__img-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    
}

.gallery__img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 1.2s;
    filter: brightness(75%);
}

.gallery__img-container:hover .gallery__img {
    transform: scale(1.1);
}

.gallery__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
    transition: transform 0.3s ease;
    
}
.gallery__img-container:hover .gallery__text {
    transform: translate(-50%, -60%); /* Di chuyển text lên trên khi hover vào ảnh */
}

.gallery__text p {
    margin: 5px 0;
    font-size: 1.5rem;
}

.gallery__text .subheading {
    font-size: 1.2rem;
    font-weight: 400;
}

.gallery__text .h2 {
    margin-top: 30px;
    font-size: 2.5rem;
    font-weight: bold;
    width: 500px;
}
.gallery__img-container:hover .gallery__button {
    opacity: 1; 
    top: 100%;
}

.gallery__button {
    position: absolute;
    top:80%; /*ban đầu*/
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    opacity: 0; 
    transition: opacity 0.3s ease, top 0.3s ease;
}

.gallery__button:hover {
    opacity: 0.7;
}

/* =================== Section Blends =================== */
.section-blends {
    padding: 60px 0;
    background-color: var(--primary-color);
    color: #fff;
}

.section-full {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.impact-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.impact-text--center {
    text-align: center;
}

.snap-center {
    display: inline-block;
}

.impact-text__text {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.text-gradient {
    background: -webkit-linear-gradient(180deg, rgba(32, 138, 193, 1), rgba(26, 26, 26, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.impact-text__content {
    font-size: 1.2rem;
    line-height: 1.5;
}

.prose {
    max-width: 600px;
    margin: 0 auto;
}

.prose h4 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
/* Định dạng số đếm */
.counter__box span {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}




/* ============ Testimonial ------------------ */

.testimonial__title {
    font-size: 2.3rem;
    margin-top: 1rem;
    color: #fff;
    
}
.containerTest{
    background-image: url('https://cdn.shopify.com/s/files/1/1297/3303/files/testimonial-bg.jpg?v=1709310133');
    position: relative;
    border-radius: 10px;
}

