
.hero__subtitle img {
    width: 2.3rem;
    height: 2.3rem;
}

.hero__content h1{
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0 2rem 0 ;
    color: var(--text-white);
}

.highlight {
    color: var(--secondary-color);
}

.hero__content {
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 2rem;
    padding-top: 3.5rem;
}

.hero__img-box img, 
.hero__img-box video {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    object-fit: cover;
    
}

.hero__img-box { 
    padding-top: 2rem;
}


/* ------------- */

.services__subtitle {
    font-size: 2.2rem;
    font-weight: 500;
    color: #ee6e6e;
    font-family: var(--subtitle-font-name);
}

.services__title {
    font-size: 2.5rem;
    font-weight: 500;

}


/*---------- Featured tours----------- */

.featured__tour-title {
    font-size: 2.3rem;
    font-weight: 500;
    color: var(--heading-color);
}


/* -------------- Experience --------------*/

.experience__content {

}
.experience__content h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
}
.experience__content p {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1rem;
}


.counter__wrapper {
    margin-top: 2.5rem;
}
.counter__box {

}

.counter__box span {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 10px 5px 10px 5px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--primary-color);
}

.counter__box h6 {
    font-size: 1.2rem;
    margin-top: 0.7rem;
    color: var(--text-color);

}

.experience__img img{
    width: 90%;
}

/* ============ GALLERY  ===========*/

.gallery__content{

}
.gallery__title {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.gallery__img {
    transition: 0.3s;
}
.gallery__img:hover {
    transform:  scale(1.1);
}

.gallery__img img{
    width: 100%;
    display: block;
    border-radius: 10px;
}


/* ============ Testimonial ------------------ */

.testimonial__title {
    font-size: 2.3rem;
    margin-top: 1rem;
}
