@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #0a0a0a;
    --secondary-color: #A2D05F
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:where(.css-dev-only-do-not-override-tl3vnr).ant-input-affix-wrapper-lg {
    font-size: 20px !important;
}

:where(.css-dev-only-do-not-override-tl3vnr).ant-form-item {
    margin-bottom: 10px;
}

:where(.css-dev-only-do-not-override-tl3vnr).ant-input-affix-wrapper .ant-input-prefix {
    margin-inline-end: 10px !important;
}

.main-color {
    color: var(--main-color)
}


body {
    font-family: "Inter", sans-serif !important;
}

.ant-form-item-explain-error {
    margin: 5px 0 !important;
}

#basic_remember {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-auth {
    background-image: url('https://wallpaperaccess.com/full/1307130.jpg');
    height: 100vh;
    width: 100vw;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-auth button.ant-btn {
    width: 100% !important;
    margin-top: 10px;
    padding: 26px 32px;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--secondary-color);
}

h1 {
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;

}

.login-social-container img.img-icon {
    position: absolute;
    top: calc(50% - 15px);
    border-radius: 50%;
}

.btn-login-social:hover {
    cursor: pointer;
    opacity: 0.6;
}

.show {
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    
}