
.tour__content img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 2.5rem;
}
.tour__info, .tour__reviews {
    margin-bottom: 2rem;
    border-radius: 8px;
    border: 1px solid rgb(229, 231, 235);
    padding: 2rem;
}

.tour__info h2 {
    font-size: 1.5rem;

}

.tour__rating {

}

.tour__rating i {
    color: var(--secondary-color);
}

.tour__address i,
.tour__extra--details span i{
    color: var(--heading-color);
    font-size: 1.1rem;
    margin-right: 0.2rem;
    

}

.tour__extra--details{
    display: flex;
    align-items: center;
    font-style: 1rem;
    gap: 2.7rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    color: var(--text-color);

}

.tour__desc h5{
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.tour__desc p {
    line-height: 30px;
    font-size: 1rem;
    color: var(--text-color);
}


/*----------------------------  Reviews ------------------- */

.tour__reviews h4{
    margin-bottom: 3rem;

}

.rating__group span{
    font-size: 1.1rem;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.review__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 50px;
    padding: 0.5rem;
}

.review__input input { 
    outline: none;
    border: none;
    margin-left: 0.5rem;
}

.review__item {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 2rem;
}

.review__item img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50px;
    object-fit: cover;
}
.review__item p {
    font-size: 0.9rem;
    color: var(--text-color);
}

.review__item span i {
    font-size: 1.2rem;
    color: var(--secondary-color);
}
.user__reviews {
    margin-top: 2.5rem;
}

.user__reviews h5 {
    font-size: 1rem;
    margin-bottom: 0;
}
.prose ul li::before {
    content: "•";
    margin-right: 0.5rem; /* Khoảng cách giữa dấu chấm và nội dung của mục */
}




