
.booking {
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(229, 231, 235);
    position: sticky;
    top: 80px;
    }
.AddToCart{
    background-color: #81B64C;
}
.AddToCart:hover{
    background-color: #8dbf5a;
}
.link{
    font-size: x-small;
    color: gray;
}
.bulk{
    border-top: 1px solid rgb(216, 215, 215);
    padding-top: 20px;
    border-bottom: 1px solid rgb(216, 215, 215);
    padding-bottom: 20px;
}
.custome{
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(216, 215, 215);
    padding-bottom: 20px;
}
.board{
    border-bottom: 1px solid rgb(216, 215, 215);
    padding-bottom: 20px;
}
.bag{
    border-bottom: 1px solid rgb(216, 215, 215);
    padding-bottom: 20px;
}
.savings {
    position: relative;
    top: 10px;
    left: 10px;
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.5em;
    font-weight: 500;
}
.price-details {
    display: flex;
    flex-direction: row;
    
}
.original-price {
    color: rgb(121, 121, 121);
    font-size: 0.8em;
    margin-bottom: 5px;
    text-decoration: line-through rgb(55, 55, 55);
}

.discounted-price {
    font-size: 1.2em;
    color: red;
    margin-right: 20px;
}
.priceInCart{
    color: white;
    font-size: 1em;
    font-weight: 400;
    margin-left: 10px;
    text-decoration: line-through white;
}