
.booking {
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(229, 231, 235);
    position: sticky;
    top: 80px;
    }
.AddToCart{
    background-color: #81B64C;
}
.AddToCart:hover{
    background-color: #8dbf5a;
}
.link{
    font-size: x-small;
    color: gray;
}
.bulk{
    border-top: 1px solid rgb(216, 215, 215);
    padding-top: 20px;
    border-bottom: 1px solid rgb(216, 215, 215);
    padding-bottom: 20px;
}
.custome{
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(216, 215, 215);
    padding-bottom: 20px;
}
.board{
    border-bottom: 1px solid rgb(216, 215, 215);
    padding-bottom: 20px;
}
.bag{
    border-bottom: 1px solid rgb(216, 215, 215);
    padding-bottom: 20px;
}