
.common__section {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('../assets/images/home.jpeg') no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    content: ' ';
    top: 0;
    right: 0;
    left: 0;
    
}

.common__section h1 {
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    margin-top: 130px;
    line-height: 0.8em;
    

}