
.newsletter {
    background: #333;
    padding: 0;
    margin-top: 3rem;
}
.newsletter__img img {
    width: 100%;
}

.newsletter__content {
    padding: 50px 0;
}

.newsletter__content h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: "Spartan", sans-serif;
    font-weight: 600;
    color: #fff;
}

.newsletter__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 1px solid #fff;
}

.newsletter__input input { 
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--heading-color); 
    background-color: #333;
}

.newsletter__btn {
    padding: 0.5rem 1.5rem !important;
    background: var(--secondary-color) !important;
    color: #fff !important;
    font-size: 1.1rem !important;
    transition: 0.2s ease !important;
}

.newsletter__btn:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 4px rgb(213, 199, 199, 0.6);
}

.newsletter__content p {
    color: #fff;
    font-family: "Spartan", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    
}

.newsletter__content p span {
    color: var(--secondary-color);
    
}