
.tour__card {
    
}
.tour__img {
    position: relative;
}
.tour__img img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.tour__img span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: max-content;
    height: max-content;
    z-index: 5;
    background: var(--primary-color);
    border-radius: 3px 0 0 0;
    color: #fff;
    padding: 0.3rem 0.5rem;

}
.card {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.card__top {

}

.card__top i {
    color: var(--secondary-color);
}

.tour__location {
    font-weight: 500;
    color: var(--heading-color);
}

.tour__rating {
    font-size: 0.9rem;
    color: var(--text-color);
}
.tour__rating i,
 .tour__location i {
    font-size: 1rem;
}

.tour__title {
    margin-top: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.tour__title a {
    text-decoration: none;
    color: var(--heading-color);
    transition: 0.2s;
}
.tour__title a:hover {
    color: var(--secondary-color);
}
.card__bottom {

}

.card__bottom h5 {
    color: var(--secondary-color);
    font-size:  1rem;
    font-weight: 700;

}

.card__bottom h5 span {
    font-weight:  500;
    color: var(--text-color);
    font-size: 0.8rem;
}

.booking__btn {
    background-color: var(--secondary-color) !important;
    cursor: pointer;
    padding: 0.2rem 0.5rem !important;
    transition: 0.2s ease !important;
    border: none;
    outline: none;


}

.booking__btn a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
}

.booking__btn:hover {
    background-color: var(--secondary-color);
    
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 4px rgb(213, 199, 199, 0.6);
}
.price-detail {
    display: flex;
    flex-direction: column;
}

.original-price {
    text-decoration: line-through;
    color: red;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.discounted-price {
    font-size: 1.2em;
    color: var(--secondary-color);
}
.savings-text {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: 500;
}
.card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



