

.header {
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.logo img {
    width: 30%;
}

.navigation {}

.menu {
    margin-bottom: 0;
}

.nav__item {

}

.nav__item a {
    text-decoration: none;
    color: var(--heading-color);
    font-size: 1.1rem;
    font-weight: 500;
}

.nav__item a:hover {
    cursor: pointer;
}

.nav__item a.active__link {
    color: var(--secondary-color);
 }

.nav__right {}

.nav__btns {}

.mobile__menu {
    font-size: 1.3rem;
    color: var(--heading-color);
    display: none;
}

.sticky__header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: transparent; /* Mặc định là màu trong suốt */
    transition: background-color 0.3s ease; /* Thêm hiệu ứng chuyển đổi */
    position: fixed; /* Đảm bảo header được đặt ở trên cùng */
    top: 0; /* Đặt header ở trên cùng */
    z-index: 1000; /* Đảm bảo header được hiển thị trên mọi nội dung khác */
}
.sticky__header.scrolled{
    background-color: #333; /* Đổi màu header khi cuộn xuống dưới */
}